/* light */
.light-theme {
  --bg-color: white;
  --text-color: black;
  --text-color-transparent: rgba(233, 233, 233, 0.342);
}

/* dark */
.dark-theme {
  --bg-color: black;
  --text-color: white;
  --text-color-transparent: rgba(36, 36, 36, 0.171);
}

body {
  font-family: "Quicksand", "Open Sans", "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color;
  line-height: 1.6;
}
::selection {
  background-color: var(--text-color-transparent);
  color: gold;
  text-shadow: 3px 5px 10px rgba(255, 217, 0, 0.432);
  transition: 0.15s ease-in-out;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1;
}
.main-container {
  max-width: 80vw;
  margin: 0 auto;
}
header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color);
  text-shadow: 6px 8px 10px var(--text-color);
  border-bottom: 2px groove transparent;
  transition: 0.2s;
}
.logo img {
  display: inline-block;
  width: 20px;
  height: 20px;
}
.logo img:hover {
  display: inline-block;
  width: 25px;
  height: 25px;
}
header .logo:hover {
  color: var(--text-color);
  text-shadow: 3px 4px 5px var(--text-color);
  border-bottom: 2px groove var(--text-color);
  transition: 0.2s;
}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #83838327;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px groove transparent;
}

nav ul li a:hover {
  border-bottom: #da0707;
  border-bottom-style: groove;
  border-bottom-width: 2px;
}
nav ul li a:active {
  border: 2px groove var(--text-color);
  border-color: var(--text-color);
  background-color: var(--text-color);
  color: var(--bg-color);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 15vh;
}
.social-links {
  position: sticky;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  width: fit-content;
  z-index: 1;
}

.social-links a {
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.social-links i {
  color: var(--text-color);
  font-size: 30px;
  transition: color 0.3s ease;
}

.social-links a:hover,
.social-links a:hover i {
  color: var(--bg-color);
  background-color: var(--text-color);
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
}

.intro-text {
  text-align: center;
  max-width: 600px;
}

.intro-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.intro-text h1 span {
  color: #da0707;
}

.intro-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.intro-buttons {
  display: flex;
  justify-content: center;
}

.intro-buttons .btn {
  background-color: transparent;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-color);
  font-size: 16px;
}

.intro-buttons .btn:hover {
  background-color: #ff5a47;
  border-color: var(--text-color);
  box-shadow: 4px 4px 15px #ff0000d2;
}
.intro-buttons .btn:active {
  background-color: #ff0000;
  border-color: var(--text-color);
  box-shadow: 5px 5px 50px #ff0000d2;
}

.intro-buttons .btn::selection {
  background-color: transparent;
  border-color: var(--text-color);
}
.intro-buttons .btn:hover::selection {
  background-color: #ff5a47;
  border-color: var(--text-color);
}
.container {
  width: 85%;
  margin: 0 auto;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.8em;
  margin: 2rem 0 1rem;
}

.highlight {
  color: #da0707;
}
.highlight2 {
  color: #3b8510;
}
.about-section {
  min-height: 100vh;
  padding: 4rem 0;
}

.about-content {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  align-items: center;
  margin-bottom: 2rem;
}

.about-text {
  font-size: 18px;
  max-width: 50%;
}
.about-image {
  max-width: 500px;
}
.about-image img {
  max-width: 100%;
  border-radius: 15px;
}

.skills-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
  border-radius: 15px;
  padding: 1rem;
}

.skills-icons img {
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;
}
.skills-icons img:hover {
  box-shadow: 5px 5px 20px rgba(141, 141, 141, 0.562);
  border-radius: 10px;
  transform: scale(1.2);
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.coming-soon {
  width: 20px;
}
.works-section {
  padding: 4rem 0;
  min-height: 90vh;
}
.contact-section {
  padding: 4rem 0;
}

.works-gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.work-item {
  text-align: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  max-width: 500px;
  background-color: var(--bg-color);
  box-shadow: 0 0 10px rgba(141, 141, 141, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

.work-item img {
  border-radius: 10px;
}

.see-more {
  margin: 2rem auto;
  background-color: var(--bg-color);
  padding: 0.75rem 2rem;
  background-color: transparent;
  border: 2px solid #ff0077;
  color: #ff0077;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.5s ease;
}
.see-more a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
}
.see-more:hover {
  background-color: #ff3748;
  color: var(--bg-color);
}
.see-more:active {
  background-color: #ff0000;
  color: var(--bg-color);
}
.contact-section {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 4rem 0;
}
.contact-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.contact-info {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form input,
form textarea {
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--bg-color);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form button {
  padding: 1rem;
  border-radius: 5px;
  background-color: #f34848;
  color: var(--text-color);
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #ff0000;
}
footer {
  box-shadow: 0 0 40px rgba(141, 141, 141, 0.3);
  border-radius: 30px;
}
footer h2 {
  text-align: center;
  font-size: 18px;
  margin: 0;
}
footer a {
  text-decoration: none;
  color: var(--text-color);
}
.fa-heart {
  color: red;
}
.fa-instagram:before,
.fa-linkedin-in:before {
  margin-left: 2.5px;
}
#theme-btn {
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  outline: none;
}

#theme-icon {
  transition: all 0.5s ease;
}

#theme-icon.fa-sun {
  color: orange;
}

#theme-icon.fa-moon {
  color: white;
}

/*  */
#theme-icon.fa-sun:hover {
  box-shadow: 0 0 40px 1px rgba(255, 217, 0, 0.795); /**/
  transform: rotate(360deg);
}

#theme-icon.fa-moon:hover {
  box-shadow: 0 0 50px 1px rgba(255, 255, 255, 0.7);
  transform: translateY(-5px);
}
@media screen and (max-width: 860px) {
  .skills-icons .coming-soon {
    display: none;
  }
  h2,
  h3 {
    text-align: center;
  }
}
